table{border: 1px solid black;}
th{border: 1px solid black;}
td{border: 1px solid black;}
body{background-image: url("https://images.pexels.com/photos/19792518/pexels-photo-19792518/free-photo-of-a-view-of-the-ocean-from-a-hilltop.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
background-position:center;
background-repeat:no-repeat;
background-size:cover;}